@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #19928a;
  height: 4rem;
  color: #ffffff;
}

circle {
  display: flex;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 7rem;
  margin-top: 7%;
}

.search {
  margin-top: 10%;
  width: 140%;
  height: auto;
}

.cart {
  padding-top: 12px;
  width: 45%;
  height: auto;
  margin-left: 2rem;
}

.logo {
  font-size: 3rem;
  padding-left: -3rem;
  display: flex;
  font-weight: 700;
}

.footer {
  background-color: #19928a;
  height: 2rem;
  width: 100%;
  text-align: center;
}

.success {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: auto;
}

.passed {
  color: 19928A;
  font-color: 19928A;
  font-weight: bold;
  color: darkcyan;
  font-size: 2rem;
}
fieldset {
  border: 1px solid #000;
}

.legend {
  float: none;
  width: auto;
  font-size: inherit;
  padding: 0;
  margin-bottom: 0.5rem;
  line-height: inherit;
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: fit-content;
  }
}
